body{
  background: peachpuff;
}

p{
  font-family: sans-serif;
}

h1{
  color:lightcoral;
}

h2{
  color:tomato;
}

.heading{
  font-weight: bold;
}

#important{
  color: crimson;
  font-size: 200%;
}

a{
  color: coral;
}

#curry{
  width:550px;
  height:400px;
}

#stick{
  width:500px;
  height:500px;
}



